@model KoiFarmShop.Data.Request.CreateConsignmentRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create Consignment</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KoiId" class="control-label"></label>
                <select asp-for="KoiId" class ="form-control" asp-items="ViewBag.KoiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="1">Care</option>
                    <option value="2">Sale</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DealPrice" class="control-label"></label>
                <input asp-for="DealPrice" class="form-control" />
                <span asp-validation-for="DealPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Method" class="control-label"></label>
                <select asp-for="Method" class="form-control">
                    <option value="Online">Online</option>
                    <option value="Offline">Offline</option>
                </select>
            </div>            
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerContact" class="control-label"></label>
                <input asp-for="CustomerContact" class="form-control" />
                <span asp-validation-for="CustomerContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalWeight" class="control-label"></label>
                <input asp-for="TotalWeight" class="form-control" />
                <span asp-validation-for="TotalWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsignmentDate" class="control-label"></label>
                <input asp-for="ConsignmentDate" class="form-control" type="date" />
                <span asp-validation-for="ConsignmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}