﻿@{
    ViewData["Title"] = "Index";
}

@* <form method="get" class="d-flex gap-5">
    <input type="text" name="searchConsignmentId" placeholder="Search ConsignmentId" class="form-control" />

    <input type="text" name="searchMethod" placeholder="Search method" class="form-control" />

    <input type="text" name="searchStatus" placeholder="Search Status" class="form-control" />

    <input type="submit" value="Search" class="btn btn-primary" />
</form> *@

﻿<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">Consignments List</h3>
    </div>
    <div class="col-md-2 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">Consignment Id</th>
                    <th class="card-title text-center">Koi Id</th>
                    <th class="card-title text-center">User Id</th>
                    <th class="card-title text-center">Type</th>
                    <th class="card-title text-center">Deal Price</th>
                    <th class="card-title text-center">Method</th>
                    <th class="card-title text-center">Payment Id</th>
                    <th class="card-title text-center">Status</th>
                    <th class="card-title text-center">Consignment Date</th>
                    <th class="card-title text-center">Created Date</th>
                    <th class="card-title text-center">Created By</th>
                    <th class="card-title text-center">Modified Date</th>
                    <th class="card-title text-center">Modified Date</th>
                    <th class="card-title text-center">Function</th>
                </tr>
            </thead>
            <tbody class="tblConsignments">
            </tbody>
        </table>
    </div>
</div>

<!-- Add/Edit Modal -->
<div class="modal" id="consignmentModal" tabindex="-1" aria-labelledby="consignmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="consignmentModalLabel">Consignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add/Edit Section -->
                    <div id="orderItemsSection" class="consignment-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="koiId1">Koi Id</label>
                                    <input type="text" class="form-control" id="koiId1" name="koiId" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="userId1">User Id</label>
                                    <input type="text" class="form-control" id="userId1" name="userId" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="type1">Type</label>
                                    <select class="form-control" id="type1" name="type" required>
                                        <option value="1">Care</option>
                                        <option value="2">Sale</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dealPrice1">Deal Price</label>
                                    <input type="number" class="form-control" id="dealPrice1" name="dealPrice" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="method1">Method</label>
                                    <select class="form-control" id="method1" name="method" required>
                                        <option value="Online">Online</option>
                                        <option value="Offline">Offline</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="consignmentDate1">Consignment Date</label>
                                    <input type="date" class="form-control" id="consignmentDate1" name="consignmentDate" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="createdDate1">Created Date</label>
                                    <input type="datetime-local" class="form-control" id="createdDate1" name="createdDate" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="createdBy1">Created By</label>
                                    <input type="text" class="form-control" id="createdBy1" name="createdBy" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Update Section -->
                    <div id="updateSection" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="consignmentIdUpdate">Consignment Id</label>
                                    <input type="text" class="form-control" id="consignmentIdUpdate" readonly />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="koiIdUpdate">Koi Id</label>
                                    <input type="text" class="form-control" id="koiIdUpdate" name="koiId" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="userIdUpdate">User Id</label>
                                    <input type="text" class="form-control" id="userIdUpdate" name="userId" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="typeUpdate">Type</label>
                                    <select class="form-control" id="typeUpdate" name="type" required>
                                        <option value="1">Care</option>
                                        <option value="2">Sale</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dealPriceUpdate">Deal Price</label>
                                    <input type="number" class="form-control" id="dealPriceUpdate" name="dealPrice" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="methodUpdate">Method</label>
                                    <select class="form-control" id="methodUpdate" name="method" required>
                                        <option value="Online">Online</option>
                                        <option value="Offline">Offline</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="modifiedDateUpdate">Modified Date</label>
                                    <input type="datetime-local" class="form-control" id="modifiedDateUpdate" name="modifiedDate" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="modifiedByUpdate">Modified By</label>
                                    <input type="text" class="form-control" id="modifiedByUpdate" name="modifiedBy" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="statusUpdate">Status</label>
                                    <select class="form-control" id="statusUpdate" required>
                                        <option value="1">Pending</option>
                                        <option value="2">Agreed</option>
                                        <option value="3">In store</option>
                                        <option value="4">Sold</option>
                                        <option value="5">Returned</option>
                                        <option value="6">Canceled</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@* <div class="Pagination">
</div> *@

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();

            $('form').on('submit', function (e) {
                e.preventDefault();
                loadData(1); // Gọi hàm với số trang 1 khi tìm kiếm
            });

        });

        function loadData(page) {
            var searchConsginmentId = $('input[name="searchConsignmentId"]').val();
            var searchMethod = $('input[name="searchMethod"]').val();
            var searchStatus = $('input[name="searchStatus"]').val();

            $.ajax({
                url: `https://localhost:7149/api/Consignments`,
                type: "GET",
                data: {
                    pageNumber: page,
                    searchConsginmentId: searchConsginmentId,
                    searchMethod: searchMethod,
                    searchStatus: searchStatus,
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.consignmentId + '</td>';
                        html += '<td>' + item.koiId + '</td>';
                        html += '<td>' + item.userId + '</td>';
                        var typeText = item.type === 1 ? "Care" : "Sale";
                        html += '<td>' + typeText + '</td>';
                        html += '<td>' + item.dealPrice + '</td>';
                        html += '<td>' + item.method + '</td>';
                        html += '<td>' + (item.paymentId || 'N/A') + '</td>';
                        var statusText = ["Pending", "Agreed", "In store", "Sold", "Returned", "Canceled"][item.status - 1];
                        html += '<td>' + statusText + '</td>';
                        html += '<td>' + item.consignmentDate + '</td>';
                        html += '<td>' + item.createdDate + '</td>';
                        html += '<td>' + item.createdBy + '</td>';
                        html += '<td>' + item.modifiedDate + '</td>';
                        html += '<td>' + item.modifiedBy + '</td>';
                        html += '<td><button class="btn btn-warning" onclick="editConsignment(\'' + item.consignmentId + '\',\'' + item.koiId + '\', \'' + item.userId + '\', \'' + item.type + '\', \'' + item.dealPrice + '\', \'' + item.method + '\', \'' + item.status + '\', \'' + item.consignmentDate + '\', \'' + item.createdDate + '\', \'' + item.createdBy + '\', \'' + item.modifiedDate + '\', \'' + item.modifiedBy + '\')">Update</button> <button class="btn btn-danger" onclick="deleteConsignment(\'' + item.consignmentId + '\')">Delete</button></td>';
                        html += '</tr>';
                    });
                    $('.tblConsignments').html(html);

                    console.log(result);

                    updatePagination(result.totalCount, page);
                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });
        }

        function updatePagination(totalCount, currentPage) {
            var totalPages = Math.ceil(totalCount / 5); // Bạn có chắc chắn là bạn có 5 mục trên mỗi trang không?
            var paginationHtml = '';

            for (var i = 1; i <= totalPages; i++) {
                paginationHtml += `<a href="#" onclick="loadData(${i})">${i}</a>`;
                if (i < totalPages) {
                    paginationHtml += ' | ';
                }
            }

            $('.Pagination').html(paginationHtml);
        }

        // Open Add Modal
        function add() {
            $("#consignmentModalLabel").html("Add Consignment");
            $('#consignmentModal').modal('show');
            $('#orderItemsSection').show();
            $('#updateSection').hide();
        }

        // Add Consignment
        function addConsignment() {
            var formData = {
                UserId: $('#userId1').val(),
                KoiId: $("#koiId1").val(),
                Type: $("#type1").val(),
                DealPrice: $("#dealPrice1").val(),
                Method: $("#method1").val(),
                ConsignmentDate: $("#consignmentDate1").val(),
                CreatedDate: $("#createdDate1").val(),
                CreatedBy: $("#createdBy1").val(),
            };

            $.ajax({
                url: "https://localhost:7149/api/Consignments",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(formData),
                success: function (result) {
                    if (result.status >= 1) {
                        $('#consignmentModal').modal('hide');
                        loadData();
                    }
                    alert(result.message);
                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });
        }

        // Open Edit Modal
        function editConsignment(consignmentId, koiId, userId, type, dealPrice, method, status) {
            $("#consignmentIdUpdate").val(consignmentId);
            $("#koiIdUpdate").val(koiId);
            $("#userIdUpdate").val(userId);
            $("#typeUpdate").val(type);
            $("#dealPriceUpdate").val(dealPrice);
            $("#methodUpdate").val(method);
            $("#statusUpdate").val(status);
            $("#consignmentModalLabel").html("Update Consignment");
            $('#consignmentModal').modal('show');
            $('#orderItemsSection').hide();
            $('#updateSection').show();
        }

        // Update Consignment
        function updateConsignment() {
            var formData = {
                consignmentId: $("#consignmentIdUpdate").val(),
                koiId: $("#koiIdUpdate").val(),
                userId: $("#userIdUpdate").val(),
                type: $("#typeUpdate").val(),
                dealPrice: $("#dealPriceUpdate").val(),
                method: $("#methodUpdate").val(),
                status: $("#statusUpdate").val(),
                modifiedDate: $("#modifiedDateUpdate").val(),
                modifiedBy: $("#modifiedByUpdate").val(),
            }

            $.ajax({
                url: "https://localhost:7149/api/Consignments",
                type: "PUT",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(formData),
                success: function (result) {
                    if (result.status >= 1) {
                        $('#consignmentModal').modal('hide');
                        loadData();
                    }
                    alert(result.message);
                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });
        }

        // Save Button Event
        $('#btSave').on('click', function () {
            var action = $("#consignmentModalLabel").text();
            if (action === "Add Consignment") {
                addConsignment();
            } else if (action === "Update Consignment") {
                updateConsignment();
            }
        });

        // Delete Consignment
        function deleteConsignment(consignmentId) {
            if (confirm("Are you sure you want to delete this consignment?")) {
                $.ajax({
                    url: "https://localhost:7149/api/Consignments/" + consignmentId,
                    type: "DELETE",
                    success: function (result) {
                        if (result.status >= 1) {
                            loadData();
                        }
                        alert(result.message);
                    },
                    error: function (xhr) {
                        alert(xhr.statusText);
                    }
                });
            }
        }
    </script>
}