@page
@model KoiFarmShop.MVCWebApp.Views.Vouchers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Voucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Voucher.VoucherId" class="control-label"></label>
                <input asp-for="Voucher.VoucherId" class="form-control" />
                <span asp-validation-for="Voucher.VoucherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.VoucherCode" class="control-label"></label>
                <input asp-for="Voucher.VoucherCode" class="form-control" />
                <span asp-validation-for="Voucher.VoucherCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.DiscountAmount" class="control-label"></label>
                <input asp-for="Voucher.DiscountAmount" class="form-control" />
                <span asp-validation-for="Voucher.DiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.MinOrderAmount" class="control-label"></label>
                <input asp-for="Voucher.MinOrderAmount" class="form-control" />
                <span asp-validation-for="Voucher.MinOrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.Status" class="control-label"></label>
                <input asp-for="Voucher.Status" class="form-control" />
                <span asp-validation-for="Voucher.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.ValidityStartDate" class="control-label"></label>
                <input asp-for="Voucher.ValidityStartDate" class="form-control" />
                <span asp-validation-for="Voucher.ValidityStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.ValidityEndDate" class="control-label"></label>
                <input asp-for="Voucher.ValidityEndDate" class="form-control" />
                <span asp-validation-for="Voucher.ValidityEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.CreatedDate" class="control-label"></label>
                <input asp-for="Voucher.CreatedDate" class="form-control" />
                <span asp-validation-for="Voucher.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.CreatedBy" class="control-label"></label>
                <input asp-for="Voucher.CreatedBy" class="form-control" />
                <span asp-validation-for="Voucher.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.ModifiedDate" class="control-label"></label>
                <input asp-for="Voucher.ModifiedDate" class="form-control" />
                <span asp-validation-for="Voucher.ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.ModifiedBy" class="control-label"></label>
                <input asp-for="Voucher.ModifiedBy" class="form-control" />
                <span asp-validation-for="Voucher.ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
