@model KoiFarmShop.Data.Request.CreateVoucherRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div class="form-group">
                <label asp-for="VoucherId" class="control-label"></label>
                <input asp-for="VoucherId" class="form-control" />
                <span asp-validation-for="VoucherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherCode" class="control-label"></label>
                <input asp-for="VoucherCode" class="form-control" />
                <span asp-validation-for="VoucherCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherName" class="control-label"></label>
                <input asp-for="VoucherName" class="form-control" />
                <span asp-validation-for="VoucherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyMethod" class="control-label"></label>
                <input asp-for="ApplyMethod" class="form-control" />
                <span asp-validation-for="ApplyMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountAmount" class="control-label"></label>
                <input asp-for="DiscountAmount" class="form-control" />
                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinOrderAmount" class="control-label"></label>
                <input asp-for="MinOrderAmount" class="form-control" />
                <span asp-validation-for="MinOrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidityStartDate" class="control-label"></label>
                <input asp-for="ValidityStartDate" class="form-control" />
                <span asp-validation-for="ValidityStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidityEndDate" class="control-label"></label>
                <input asp-for="ValidityEndDate" class="form-control" />
                <span asp-validation-for="ValidityEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
