<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">Images List</h3>
    </div>
    <div class="col-md-2 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">ImageId</th>
                    <th class="card-title text-center">KoiId</th>
                    <th class="card-title text-center">Url</th>
                    <th class="card-title text-center">CreatedDate</th>
                    <th class="card-title text-center">CreatedBy</th>
                    <th class="card-title text-center">ModifiedDate</th>
                    <th class="card-title text-center">ModifiedBy</th>
                    <th class="card-title text-center">DeletedDate</th>
                    <th class="card-title text-center">DeletedBy</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblImage">
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="1">Koi ID</label>
                                <input type="hidden" class="form-control" id="imageId" name="imageId">
                                <input type="text" class="form-control" id="KoiId" name="KoiID" value="" required>
                            </div>
                            <div class="col-md-4">
                                <label for="1">Image URL</label>
                                <input type="text" class="form-control" id="ImageURL" name="ImageURL" value="" required>
                            </div>
                            <div class="col-md-4">
                                <label for="1">Created By</label>
                                <input type="text" class="form-control" id="CreatedBy" name="CreatedBy" value="" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="1">Created Date</label>
                                <input type="date" class="form-control" id="CreatedDate" name="CreatedDate" value="" required>
                            </div>
                            <div class="col-md-4">
                                <label for="1">Modified By</label>
                                <input type="text" class="form-control" id="ModifiedBy" name="ModifiedBy" value="" required>
                            </div>
                            <div class="col-md-4">
                                <label for="1">Deleted By</label>
                                <input type="text" class="form-control" id="DeletedBy" name="DeletedBy" value="" required>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary" onclick="save();">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal" id="imageDetailModal" tabindex="-1" aria-labelledby="imageDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();
        });

        function loadData(){
            alert("Load data processing...");

            $.ajax({
                // url: '@Url.Action("GetAll", "Image")',
                url: "https://localhost:7149/api/Images",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        //console.log(item);
                        html += '<tr>';
                        html += '<td>' + item.imageId + '</td>';
                        html += '<td>' + item.koiId + '</td>';
                        html += '<td>' + item.url + '</td>';
                        html += '<td>' + item.createdDate + '</td>';
                        html += '<td>' + item.createdBy + '</td>';
                        html += '<td>' + item.modifiedDate + '</td>'; 
                        html += '<td>' + item.modifiedBy + '</td>';
                        html += '<td>' + item.deletedDate + '</td>';
                        html += '<td>' + item.deletedBy + '</td>';
                        html += '<td>';
                        html += '<button type="button" class="btn btn-primary" onclick="update(\'' + item.imageId + '\');">Update</button>';
                        html += '<button type="button" class="btn btn-danger" onclick="del(\'' + item.imageId + '\');">Delete</button>';
                        html += '<button type="button" class="btn btn-info" onclick="detail(\'' + item.imageId + '\');">Detail</button>';
                        html += '</td>';
                        html += '</tr>';
                    });
                    $('.tblImage').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }


        function add() {
            //alert("Save function");
            $("#imageModalLabel").html("Add New");

            $('#imageId').val(null);
            $('#KoiId').val('');
            $('#ImageURL').val('');
            $('#CreatedBy').val('');
            $('#CreatedDate').val('');
            $('#ModifiedBy').val('');
            $('#DeletedBy').val('');

            $('#imageModal').modal('show');
        }

        function update(imageId) {
            $("#imageModalLabel").html("Update Image");

            $.ajax({
                url: 'https://localhost:7149/api/Images/' + imageId,
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $('#imageId').val(result.data.imageId);
                    $('#KoiId').val(result.data.koiId);
                    $('#ImageURL').val(result.data.url);
                    $('#CreatedBy').val(result.data.createdBy);
                    $('#CreatedDate').val(result.data.createdDate.substring(0, 10)); 
                    $('#ModifiedBy').val(result.data.modifiedBy);
                    $('#DeletedBy').val(result.data.deletedBy);

                    $('#imageModal').modal('show');
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function save() {
            if ($('#imageId').val() == null) {
                addImage();
            }
            else {
                updateImage();
            }
        }

        function del(imageId) {
            $.ajax({
                headers: {
                    'Accept': 'text/plain',
                    'Content-Type': 'application/json; charset=utf-8'
                },
                url: "https://localhost:7149/api/Images/" + imageId,
                type: "DELETE",
                success: function (result) {
                    if (result.status >= 1) {
                        loadData(); // Reload the data to show the new entry
                    }
                    alert(result.message)
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function detail(imageId) {
            $("#imageDetailModalLabel").html("Image Detail");

            $.ajax({
                url: 'https://localhost:7149/api/Images/' + imageId,
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $('#imageIdDetail').val(result.data.imageId);
                    $('#KoiIdDetail').val(result.data.koiId);
                    $('#ImageURLDetail').val(result.data.url);
                    $('#CreatedByDetail').val(result.data.createdBy);
                    $('#CreatedDateDetail').val(result.data.createdDate.substring(0, 10)); 
                    $('#ModifiedByDetail').val(result.data.modifiedBy);
                    $('#DeletedByDetail').val(result.data.deletedBy);

                    $('#imageDetailModal').modal('show');
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function addImage() {
            // var formData = new FormData();

            // formData.append("KoiId", $("#KoiId").val);
            // formData.append("ImageURL", $("#ImageURL").val);
            // formData.append("CreatedBy", $("#CreatedBy").val);
            // formData.append("CreatedDate", $("#CreatedDate").val);
            // formData.append("ModifiedBy", $("#ModifiedBy").val);
            // formData.append("DeletedBy", $("#DeletedBy").val);

            // formData = $("frm").serialize;

            var formData = {
                imageId: null,
                KoiId: $("#KoiId").val(),
                ImageURL: $("#ImageURL").val(),
                CreatedBy: $("#CreatedBy").val(),
                CreatedDate: $("#CreatedDate").val(),
                ModifiedBy: $("#ModifiedBy").val(),
                DeletedBy: $("#DeletedBy").val()
            };

            $.ajax({
                headers:{
                    'Accept' : 'text/plain',
                    'Content-Type': 'application/json; charset=utf-8'
                },
                url: "https://localhost:7149/api/Images",
                type: "POST",
                data: JSON.stringify(formData),
                success: function (result) { 
                    if (result.status >= 1){
                        $('#imageModal').modal('hide');
                        loadData(); // Reload the data to show the new entry
                    }
                    alert(result.message)
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function updateImage() {
            var formData = {
                imageId: $("#imageId").val(),
                koiId: $("#KoiId").val(),
                imageURL: $("#ImageURL").val(),
                createdBy: $("#CreatedBy").val(),
                createdDate: $("#CreatedDate").val(),
                modifiedBy: $("#ModifiedBy").val(),
                deletedBy: $("#DeletedBy").val()
            };

            $.ajax({
                headers: {
                    'Accept': 'text/plain',
                    'Content-Type': 'application/json; charset=utf-8'
                },
                url: "https://localhost:7149/api/Images",
                type: "PUT",
                data: JSON.stringify(formData),
                success: function (result) {
                    if (result.status >= 1) {
                        $('#imageModal').modal('hide');
                        loadData(); // Reload the data to show the new entry
                    }
                    alert(result.message)
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }
    </script>
}